<!doctype html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <img src="{{url_for('static', filename='family.jpeg')}}" />
    <ul>
        {% for member in family_members %}
    <li>{{ member }}</li>
    {% endfor %}
    </ul>

    <u>
        {% for link in links %}
        <li><a href="{{link.url}}">{{link.name}}</a> </li>
        {% endfor %}
    </u>

    <form action="/" method="post">
        <label for="name_add">Name:</label><br>
        <input type="text" id="name_add" name="name_add"><br>

        <label for="url">Url:</label><br>
        <input type="text" id="url" name="url"><br><br>

        <input type="submit" value="Submit">
    </form>

    <form action="/" method="post">
        <label for="name_delete">Name:</label><br>
        <input type="text" id="name_delete" name="name_delete"><br><br>

        <input type="submit" value="Remove">
    </form>

</body>
</html>